@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Thin.woff');
  font-weight: 100;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-ThinItalic.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-LightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Book.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-BookItalic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-MediumItalic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Semibold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-BoldItalic.woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-Heavy.woff');
  font-weight: 900;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('/fonts/CooperHewitt/CooperHewitt-HeavyItalic.woff');
  font-weight: 900;
  font-style: italic;
}
